<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Administración</div>
            <a class="nav-link" href="{% url 'Usuarios:index' %}">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                Usuarios
            </a>
            <a class="nav-link" href="{% url 'Empresa:index' %}">
                <div class="sb-nav-link-icon"><i class="fa-brands fa-adn"></i></div>
                Empresas
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Autenticado como:</div>
        {{ request.user.username }}
    </div>
</nav>